<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="#main" class="skip-link">Menuju Konten</a>
    <header>
      <div class="brand-logo">
        <a href="#">Wheeat</a>
      </div>
      <nav>
        <a class="menu" href="#">☰</a>
        <ul class="drawer">
          <li><a href="#">Home</a></li>
          <li><a href="#">Favorite</a></li>
          <li><a href="https://github.com/alimustofa-am">About Us</a></li>
        </ul>
      </nav>
    </header>
    <div class="hero">
      <div class="hero-inner">
        <h1 class="hero-title">Membantumu menemukan restoran terbaik</h1>
        <p class="hero-desc">
          Cari informasi tentang restoran yang ingin dikunjungi <br />untuk
          menghindari ekspektasi yang berlebihan.
        </p>
        <a class="cta" href="#main">Temukan sekarang</a>
      </div>
    </div>
    <main id="main">
      <section class="content">
        <div class="explore">
          <h2 class="explore-label">Explore Restaurant</h2>
          <div class="restaurant-list"></div>
        </div>
      </section>
    </main>
    <footer>
      <p>Copyright © 2021 - Wheeat</p>
    </footer>
  </body>
</html>
