@media screen and (min-width: 600px) {
  nav > #hamburgerButton {
    display: none;
  }

  header > nav,
  .brand-logo {
    margin: 0 5%;
  }
}

@media screen and (max-width: 600px) {
  nav > ul {
    display: none;
    flex-direction: column;

    position: absolute;
    top: 70px;
    right: 0;
    height: 0;
    justify-content: center;
    overflow: hidden;
    background-color: white;

    transform: translate(0, -200%);
  }

  .show-drawer {
    display: flex;
    height: auto;
    transform: translate(0, 0);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-size: 100% auto;
  }
}

@media screen and (min-width: 664px) {
  .hero-inner {
    max-width: 600px;
  }
}

@media screen and (min-width: 370px) {
  main > .content {
    padding: 0 32px 32px;
  }
}

@media screen and (min-width: 664px) {
  main > .content {
    padding: 0 64px 64px;
  }
}

@media screen and (min-width: 664px) {
  .explore > .restaurant-list,
  .favorite > .restaurant-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .explore > .restaurant-list,
  .favorite > .restaurant-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* detail page */

@media screen and (min-width: 370px) {
  .restaurant-container > section:nth-child(1) {
    padding: 0 32px 32px;
  }

  .restaurant-container > section:nth-child(2),
  .restaurant-container > section:nth-child(3) {
    padding: 2.8rem 32px;
  }
}

@media screen and (min-width: 664px) {
  .restaurant-menu-container > .restaurant-menu-foods > ul,
  .restaurant-menu-container > .restaurant-menu-drinks > ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 880px) {
  .restaurant-container > section:nth-child(1) {
    display: flex;
    flex-direction: row;
    gap: 1.4rem;
  }
}

@media screen and (min-width: 992px) {
  .restaurant-container > section:nth-child(1) {
    padding: 0 64px 64px;
  }

  .restaurant-container > section:nth-child(2),
  .restaurant-container > section:nth-child(3) {
    padding: 2.8rem 64px;
  }

  .restaurant-menu-container > .restaurant-menu-foods > ul,
  .restaurant-menu-container > .restaurant-menu-drinks > ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .restaurant-menu-container > .restaurant-menu-foods > ul,
  .restaurant-menu-container > .restaurant-menu-drinks > ul {
    grid-template-columns: repeat(4, 1fr);
  }
}
